* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container-cst {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#taskList {
  list-style: none;
  margin: 0;
}

.list-horizontal-cst {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.task-list-cst {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-list-cst > li{
  border-bottom: 1px dotted #ccc;
}